.Red{
    font-size: 50px;
    font-family: 'Lobster', cursive;
    color: rgb(228, 39, 39) 
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;

}
p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
    font-weight: 400;
}
h1{
    text-align: center;
    
}
h3{
    text-align: center;
    text-shadow: yellowgreen;
}
#name{
    color: crimson;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(royalblue , darkblue);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 4.5px;
    margin-top: 10px;
    box-shadow: -6px 4px cyan;
    
    
}
.column {
    float: left;
    width: 48.5%;
    padding: 7px;
    
    animation: example 4s timing-function delay iteration-count direction fill-mode;
  }
  .column img{
      width: 93%;
      box-shadow: -9px 7px olivedrab;
      border-radius: 5px;
  }


.row::after {
        content: "";
        clear: both;
        display: flex;
      }
.flexible-container{
                display: flex;
                 margin-bottom: 151px;}
.column2 {
                    float: right;
                    width: 49%;
                    padding: 0px;
                 
                    animation: example 4s timing-function delay iteration-count direction fill-mode;
                  }
 .column2 img{
     width: 93%;
     box-shadow: -9px 7px skyblue;
     border-radius: 5px;
 }
 
 .top{
     background-image: url(top-banner.png);
     background-repeat: no-repeat;
     margin: 0px;
     
 }
 footer{
     text-align: center;
    
     
     
 }
 .column3 {
    float: right;
    width: 49%;
    padding: 0px;
 
    animation: example 4s timing-function delay iteration-count direction fill-mode;
  }
.column3 img{
width: 93%;
box-shadow: -9px 7px rgb(159, 238, 13);
border-radius: 5px;